<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>{{service.form.controls['id'].value?"تعديل ساعات العمل للموظف والمرتب":"ادخال ساعات العمل للموظف والمرتب"}}</span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<form [formGroup]="service.form" (ngSubmit)="onFormSubmit()" class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="id">
              
      
        


            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">

                <!-- <form #f="ngForm"> -->
                    <mat-form-field style="text-align: right">
                        <input placeholder='اسم الموظف'  formControlName="humanResources" #inputHr matInput
                            [matAutocomplete]="autoHR"  
                            (ngModelChange)="doFilter(inputHr.value)">


                        <mat-autocomplete #autoHR="matAutocomplete">
                            <mat-option *ngFor="let hr of humanResourcesInnerList  " [value]="hr['name']">
                                {{hr['name']}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                <!-- </form> -->


    

                <mat-form-field style="text-align: right">
                    <input type="number" formControlName="salary" matInput placeholder="الراتب">
                </mat-form-field>

 


                <div class="button-row">
                    <!-- [disabled]="service.form.invalid" -->
                    <button mat-raised-button color="primary" type="submit">حفظ</button>
                    <button id='buttonReset' mat-raised-button color="warn" type="reset">مسح الكل</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>