
<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>مصنعيه تجهيزات المنتج</span>
    <span class="fill-remaining-space"></span>
</mat-toolbar>

<div class="search-div" >
       
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off"
                (keyup)="applyFilter($event.target.value)">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button (click)="onCreate()">
                <mat-icon>add</mat-icon>اضافه
            </button>
            <button mat-button matSuffix mat-icon-button (click)="exportAsXLSX()"> <div class="icons8-microsoft-excel"></div> </button>
            <button mat-button matSuffix mat-icon-button (click)="loadRefreshData()"> <mat-icon style="color:green">autorenew</mat-icon> </button>
        
            <mat-divider style="margin-top: 1%;margin-bottom: 1%"></mat-divider>
<div class="search-div">
        <div class="row">
                <div class="col-2"></div>

    <!-- <label>
        <input  [owlDateTimeTrigger]="dt10" [owlDateTime]="dt10"
               [selectMode]="'range'">
               <span class="trigger" [owlDateTimeTrigger]="dt10">
                <i class="fas fa-calendar-alt"></i>
            </span>
        <owl-date-time #dt10></owl-date-time>
    </label> -->
    <button mat-fab color="primary" (click)="_filterByDates()">
        تحميل
    </button>

 
      <mat-form-field style="text-align: right">
        <input matInput [matDatepicker]="dp3" placeholder="تاريخ النهايه" [(ngModel)]="end_date" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 [(ngModel)]="end_date" ngDefaultControl (selectedChanged)="setEndDate($event)"  disabled="false"></mat-datepicker>
      </mat-form-field>
       
      <mat-form-field style="text-align: right">
        <input matInput [matDatepicker]="dp30" placeholder="تاريخ البدايه" [(ngModel)]="start_date" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp30"></mat-datepicker-toggle>
        <mat-datepicker #dp30 [(ngModel)]="start_date" ngDefaultControl (selectedChanged)="setStartDate($event)" disabled="false"></mat-datepicker>
      </mat-form-field>

      <div class="col-2"></div>
                <!-- <form #f="ngForm"  > -->
                    <mat-form-field style="text-align: right">
                        <input matInput placeholder='اسم المصنع'  name="factoryName" #factoryName="ngModel" [(ngModel)]="searcedItem" #inputHr matInput
                            [matAutocomplete]="autoHR"  
                            (ngModelChange)="doFilter(inputHr.value)">


                        <mat-autocomplete #autoHR="matAutocomplete"  (optionSelected)="_setSearcedItem($event.option.value)">
                            <mat-option *ngFor="let hr of humanResourcesInnerList  " [value]="hr['name']">
                                {{hr['name']}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                <!-- </form> -->
            </div>
        </div>
            <!-- <span class="fill-remaining-space"></span> -->
    </div>
    
    
    
    <div class="mat-elevation-z8">
     
    
        <mat-table id="#table"[dataSource]="dataArray" matSort >
            <ng-container matColumnDef="UPDATE">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)">
                        <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDelete(row.id)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="LST">
                <mat-header-cell *matHeaderCellDef>تاريخ اخر تعديل</mat-header-cell>
                <mat-cell *matCellDef="let element ; let i = index">
                    {{  element.updatedAt | date: 'dd-MMM-yyyy hh:mm'}}
                </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="CREATIONDATE">
                <mat-header-cell *matHeaderCellDef>تاريخ الانشاء</mat-header-cell>
                <mat-cell *matCellDef="let element ; let i = index">
                    {{  element.createdAt | date: 'dd-MMM-yyyy hh:mm'}}
                </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="totalPrice">
                    <mat-header-cell *matHeaderCellDef>الاجمالى = له - السلف</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index">
                        {{  element.totalPrice }}
                    </mat-cell>
                </ng-container>

            <ng-container matColumnDef="priceAllKillios">
                    <mat-header-cell *matHeaderCellDef> 
                        له = السعر * الكميه بالكيلو </mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index">
                        {{  element.priceAllKillios }}
                    </mat-cell>
                </ng-container>


            <ng-container matColumnDef="priceInKillo">
                    <mat-header-cell *matHeaderCellDef>السعر</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index">
                        {{  element.priceInKillo }}
                    </mat-cell>
                </ng-container>

         

   

            <ng-container matColumnDef="quantityInKillo">
                    <mat-header-cell *matHeaderCellDef>الكميه بالكيلو</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index">
                        {{  element.quantityInKillo }}
                    </mat-cell>
                </ng-container>

            
            <ng-container matColumnDef="humanResources">
                    <mat-header-cell *matHeaderCellDef>المصنع</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index">
                        {{  element.humanResources.name }}
                    </mat-cell>
                </ng-container>


            <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef>الصنف</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index">
                        {{  element.category.category }}
                    </mat-cell>
                </ng-container>



            <ng-container matColumnDef="advanceAccounts">
                <mat-header-cell *matHeaderCellDef>سلف</mat-header-cell>
                <mat-cell *matCellDef="let element ; let i = index">
                    {{  element.advanceAccounts }}
                </mat-cell>
            </ng-container>
    
    
            <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                      Loading data...
                    </mat-footer-cell>
                  </ng-container>
                  <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                      No data.
                    </mat-footer-cell>
                  </ng-container>
    

                  <ng-container matColumnDef="sum-all">
                        <mat-footer-cell *matFooterCellDef colspan="6">
                               
                                <mat-toolbar style="background-color: lightslategrey">
                                        <span class="fill-remaining-space"></span>
                                        <span> {{totalSum}} المبلغ الاجمالى</span>
                                        <span class="fill-remaining-space"></span>
                                    </mat-toolbar>
                        </mat-footer-cell>
                      </ng-container>
    
            <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataArray!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataArray!=null && dataArray.data.length==0)}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['sum-all']"  ></mat-footer-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15 , 20 , 50 , 100]" [pageSize]="20" showFirstLastButtons></mat-paginator>
    
    </div>