<!-- <div class="alert alert-danger" *ngIf="errorMsg">
  {{errorMsg}}
</div>
<div class="alert alert-success" *ngIf="successMsg">
  {{successMsg}}
</div> -->

<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>{{service.form.controls['id'].value?"تعديل اسم الصنف":"ادخال صنف جديد"}}</span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<form [formGroup]="service.form" (ngSubmit)="onFormSubmit()" class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="id">

               <mat-form-field style="text-align: right">
                    <input formControlName="category" matInput placeholder="الصنف">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">

                <div class="button-row">
                    <!-- [disabled]="service.form.invalid" -->
                    <button mat-raised-button color="primary" type="submit">حفظ</button>
                    <button id='buttonReset' mat-raised-button color="warn" type="reset">مسح الكل</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>